@import url(http://fonts.googleapis.com/earlyaccess/notosanshebrew.css);

body {
  background-image: url("./LOGO.png");
  background-repeat: no-repeat;
  background-position: center 135px;
  background-size: 700px 450px;
}

body {
  font-family: "Noto Sans Hebrew";
}

.navbar {
  background-image: url("./LOGO3.png");
  background-size: 100px;
  background-position: right;
  background-repeat: no-repeat;
  background-position: 98%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #408ec6;
  color: #fff;
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-top: -0.8rem;
  margin-left: -8px;
  margin-right: -8px;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  font-size: 1.1rem;
  margin-right: 1rem;
  transition: all 0.2s ease-in-out;
}

.navbar a:hover {
  text-decoration: none;
  color: #ebebeb;
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
}

.navbar-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-menu li {
  list-style: none;
}

.navbar-menu li a {
  display: block;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
}

.navbar button {
  background-color: #408ec6;
  border-width: 1px;
  border-style: solid;
  border-radius: 30px;
}

.navbar button:hover {
  background-color: #599ac9;
}

.navbar-menu li a:hover {
  background-color: #ffc107;
  color: #fff;
  text-decoration: noneh;
  border-radius: 4px;
}

.auth {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 89.2vh;
  background-color: #ffffff;
  text-align: center;
}

.auth-container {
  background-color: #f0f0f0;
  padding: 3rem;
  border-radius: 100px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  flex-direction: column;
}

h2 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}

.form-group {
  margin-bottom: 1rem;
}

label {
  font-weight: bold;
}

input {
  padding: 0.5rem 0.25rem;
  border-radius: 30px;
  border: 1px solid #ccc;
  outline: none;
  font-size: 1rem;
}

input:focus {
  border-color: #408ec6;
}

button {
  background-color: #293d80;
  color: #fff;
  border: none;
  border-radius: 20px;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: #3f6885;
}

.form-group button {
  background-color: #ffffff;
  color: black;
  padding: 0.2rem 0.25rem;
  border: 1px solid #ccc;
  margin-top: 10px;
}

.input-container {
  position: relative;
}

.input-container input {
  padding: 10px;
  text-align: center; /* Added to center the input text */
}

.input-container label {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  color: #999;
}

.note {
  margin-bottom: 2rem;
  font-size: 1.1rem;
  font-weight: bold;
  text-align: center;
  margin-top: -90px;
  margin-bottom: 120px;
}

.upload-container {
  display: block;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  text-align: center;
}

h1 {
  margin-top: 120px;
  margin-bottom: 110px;
}

.file-input-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #f0f0f0;
  padding: 3rem 2rem;
  align-items: center;
  border-radius: 60px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

input[type="file"] {
  display: flexbox;
}

.upload-button {
  width: max-content;
  align-self: center;
  margin-top: 140px;
  padding: 10px 20px;
  background-color: #3f6885;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:hover {
  background-color: #5186ab;
}

.upload-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.input-field {
  display: block;
  padding: 20px 20px;
  background-color: #a0a0a0;
  color: #000000;
  cursor: pointer;
  border-radius: 40px;
  border: none;
  transition: background-color 0.3s ease;
}

.input-field:hover {
  background-color: #d0d0d0;
}
